@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body { margin: 0; padding: 0; font-family: 'Open Sans', sans-serif; }

h1 { margin: 0; color: midnightblue; }
h3 { margin: 10px 0 0 0; color: purple; }
h4 { margin: 0; color: royalblue; font-size: 18px; text-decoration: underline; }
h5 { margin: 10px 0; color: blueviolet; }
em { display: block; font-size: 13px; }
label { font-size: 13px; line-height: 0; }


.container { width: 920px; margin: 40px auto; padding: 20px; background: #CCC; border: 1px solid #aaa; border-radius: 5px; position: relative; }
.container .section { width: 100%; margin: 20px 0 0 0; display: inline-block; }
.container .section .desc { }
